<div class="product-title"><%= @product.title %></div>

<div><%= @product.rating.round(1) %></div>
<div>Reviews</div>
<ul>
  <% @product.reviews.each do |review| %>
    <li>
      <%= review.review %>. Rating:  <%= review.rating %>
    </li>
  <% end %>
</ul>
<%= link_to new_product_review_url(@product), :class => "btn btn-light" do %>
  Add review
<% end %>